@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] dark:bg-[#1f2937] transition-all duration-300 text-[#1f2937] dark:text-[#ecf0f3] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 dark:shadow-gray-900/80 hover:from-[#726ee7] hover:to-[#8badf6] rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-[#ecf0f3];
  }

  .buttonForm {
    @apply shadow-xl shadow-gray-400 dark:shadow-gray-900/80 hover:from-[#726ee7] hover:to-[#8badf6] rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-[#ecf0f3];
  }
}

::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(236, 221, 221);
  border-radius: 10px;
  margin: 0.5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5651e5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-[#5651e5]/80;
}
